################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/01_sort_time/01_sort_time.VC.db
/01_sort_time/01_sort_time.VC.VC.opendb
/excercises/ex_01_toolbar/ex_01_toolbar.VC.db
*.opendb
*/Debug